.divp
{
    display: flex;
    width: 100%;
}
.section1
{
    width: viewport;
}


.divc
{
    padding: 20px;
    background-color: navy;
    border-radius: 10px;
    width: 300px;
    color: white;
   
}